Crop price per yield to farmers flow.json
[{"id":"6228c1ff.5257e","type":"tab","label":"Auto AI","disabled":false,"info":""},{"id":"b6f134dd.85bfa8","type":"function","z":"6228c1ff.5257e","name":"PreToken","func":"global.set(\"ye\",msg.payload.ye)\nvar apikey=\"wuhEHht0x02LSC6WDg38BIv2lgAsNGQSH83dsjsWeNmA\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":340,"wires":[["64086350.8f757c"]]},{"id":"64086350.8f757c","type":"http request","z":"6228c1ff.5257e","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":479,"y":328.9999952316284,"wires":[["69eb514a.4df79"]]},{"id":"35dfe9cf.17ce86","type":"inject","z":"6228c1ff.5257e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":125.5,"y":253.99999809265137,"wires":[["b6f134dd.85bfa8"]]},{"id":"f8ef2f52.782b3","type":"debug","z":"6228c1ff.5257e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":918.0000114440918,"y":70.99999713897705,"wires":[]},{"id":"69eb514a.4df79","type":"function","z":"6228c1ff.5257e","name":"Pre Prediction","func":"var ye = global.get('ye')\nvar token=msg.payload.access_token\nvar instance_id=\"ab2985f0-9795-4d1a-856e-62e332152a8b\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"YearsExperience\"], \"values\": [[ye]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":676.0000076293945,"y":291.9999990463257,"wires":[["93e58006.2f878"]]},{"id":"93e58006.2f878","type":"http request","z":"6228c1ff.5257e","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/92ce0e8e-bcc5-4cec-9ab5-f30bfea70416/predictions","tls":"","persist":false,"proxy":"","authType":"","x":769.5000076293945,"y":235.99999904632568,"wires":[["b911bfb8.1f911"]]},{"id":"cc06006c.4552","type":"ui_form","z":"6228c1ff.5257e","name":"","label":"","group":"395a3749.1a3568","order":2,"width":8,"height":2,"options":[{"label":"Enter the amount of crop/yield","value":"ye","type":"number","required":true,"rows":null}],"formValue":{"ye":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":71,"y":382.9999952316284,"wires":[["b6f134dd.85bfa8"]]},{"id":"aefbdfe2.81e4b","type":"ui_text","z":"6228c1ff.5257e","group":"395a3749.1a3568","order":4,"width":8,"height":4,"name":"","label":"Expected Crop Amount","format":"{{msg.payload}}","layout":"row-spread","x":857.6000366210938,"y":388.20000743865967,"wires":[]},{"id":"b911bfb8.1f911","type":"function","z":"6228c1ff.5257e","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":629.6000366210938,"y":131.60000133514404,"wires":[["f8ef2f52.782b3","aefbdfe2.81e4b"]]},{"id":"395a3749.1a3568","type":"ui_group","z":"","name":"Crop Production","tab":"a63ca249.65e72","order":1,"disp":true,"width":8,"collapse":false},{"id":"a63ca249.65e72","type":"ui_tab","z":"","name":"Crop Price/yield to Farmer","icon":"dashboard","order":11,"disabled":false,"hidden":false}]
