IBM IOT flow.json
[{"id":"c77f5368.9a2b7","type":"tab","label":"IOT","disabled":false,"info":""},{"id":"c3595b48.589948","type":"debug","z":"c77f5368.9a2b7","name":"","active":true,"console":"false","complete":"false","x":430,"y":140,"wires":[]},{"id":"34ad1c98.6a7754","type":"ibmiot in","z":"c77f5368.9a2b7","authentication":"apiKey","apiKey":"866e40a6.2b66f","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"3619","applicationId":"","deviceType":"Shreek_Node","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":140,"wires":[["8a75befb.788fe","c3595b48.589948","2c5b3c55.662334","d7b0feac.50ceb","efcaee28.52d73"]]},{"id":"8a75befb.788fe","type":"function","z":"c77f5368.9a2b7","name":"","func":"global.set('temperature',msg.payload.d.temperature)\nglobal.set('humidity',msg.payload.d.humidity)\nglobal.set('objectTemp',msg.payload.d.objectTemp)\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":200,"wires":[[]]},{"id":"f99b528e.8dc4","type":"ui_gauge","z":"c77f5368.9a2b7","name":"","group":"cf8a6f97.db205","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°F","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":320,"wires":[]},{"id":"abedbdb0.5ae25","type":"ui_gauge","z":"c77f5368.9a2b7","name":"","group":"cf8a6f97.db205","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":400,"wires":[]},{"id":"adffbdff.64f7e","type":"ui_gauge","z":"c77f5368.9a2b7","name":"","group":"cf8a6f97.db205","order":0,"width":0,"height":0,"gtype":"gage","title":"objectTemp","label":"°F","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":480,"wires":[]},{"id":"2c5b3c55.662334","type":"function","z":"c77f5368.9a2b7","name":"temperature","func":"var temp = global.get('temperature')\nreturn {payload:msg.payload.d.temperature}","outputs":1,"noerr":0,"x":310,"y":320,"wires":[["f99b528e.8dc4"]]},{"id":"d7b0feac.50ceb","type":"function","z":"c77f5368.9a2b7","name":"humidity","func":"var temp = global.get('humidity')\nreturn {payload:msg.payload.d.humidity}","outputs":1,"noerr":0,"x":300,"y":400,"wires":[["abedbdb0.5ae25"]]},{"id":"efcaee28.52d73","type":"function","z":"c77f5368.9a2b7","name":"objectTemp","func":"var temp = global.get('objectTemp')\nreturn {payload:msg.payload.d.objectTemp}","outputs":1,"noerr":0,"x":310,"y":480,"wires":[["adffbdff.64f7e"]]},{"id":"866e40a6.2b66f","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"cmoj6o.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"cf8a6f97.db205","type":"ui_group","z":"","name":"Required Warehouse Conditions","tab":"58712e4e.e61bd","order":1,"disp":true,"width":"6","collapse":false},{"id":"58712e4e.e61bd","type":"ui_tab","z":"","name":"Temperature Indicators","icon":"dashboard","disabled":false,"hidden":false}]
