Watson Assistant Flow.json
[{"id":"4d460648.e4cd98","type":"tab","label":"Chatbot","disabled":false,"info":""},{"id":"43f746ff.ee9d88","type":"ui_form","z":"4d460648.e4cd98","name":"","label":"","group":"8b17b5ab.0c4688","order":1,"width":12,"height":2,"options":[{"label":"Enter the Query","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":220,"wires":[["91fea283.8c09b"]]},{"id":"91fea283.8c09b","type":"function","z":"4d460648.e4cd98","name":"Input parse","func":"msg.payload = msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":380,"wires":[["e6920069.50886","ac4607db.0fbf18"]]},{"id":"e6920069.50886","type":"ui_text","z":"4d460648.e4cd98","group":"8b17b5ab.0c4688","order":2,"width":12,"height":2,"name":"","label":"Query Asked :","format":"{{msg.payload}}","layout":"row-spread","x":560,"y":440,"wires":[]},{"id":"f6fa8903.352638","type":"debug","z":"4d460648.e4cd98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":320,"wires":[]},{"id":"e4aa15e9.a07ef8","type":"function","z":"4d460648.e4cd98","name":"output parse","func":"if(msg.payload.output.generic[0].response_type==\"image\")\n{\n    msg.url=msg.payload.output.generic[0].source\n    msg.payload = msg.payload.output.generic[0].title\n}\nelse  {\n    msg.payload=msg.payload.output.generic[0].text\n   msg.url = \"https://awellfedworld.org/wp-content/uploads/WFP-climate-change-and-food-security.jpg\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":200,"wires":[["be44ed58.6aac5","45c55e3f.11524"]]},{"id":"be44ed58.6aac5","type":"ui_text","z":"4d460648.e4cd98","group":"afe89af8.c0fd18","order":1,"width":10,"height":11,"name":"","label":"BOT Response:","format":"{{msg.payload}}","layout":"col-center","x":980,"y":200,"wires":[]},{"id":"45c55e3f.11524","type":"ui_template","z":"4d460648.e4cd98","group":"8b17b5ab.0c4688","name":"","order":3,"width":12,"height":7,"format":"<img ng src={{msg.url}} alt=\"image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":920,"y":80,"wires":[[]]},{"id":"4dd7bff.b48d14","type":"ui_audio","z":"4d460648.e4cd98","name":"","group":"8b17b5ab.0c4688","voice":"en-US","always":"","x":960,"y":320,"wires":[]},{"id":"ac4607db.0fbf18","type":"watson-conversation-v1","z":"4d460648.e4cd98","name":"Customer","workspaceid":"32d02069-903f-4e16-80b6-ab1529fd405b","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/26fd3ef0-c511-4f8b-aa3e-c0d9bb5c6b7c","timeout":"","optout-learning":false,"x":440,"y":260,"wires":[["f6fa8903.352638","e4aa15e9.a07ef8"]]},{"id":"8b17b5ab.0c4688","type":"ui_group","z":"","name":"Chatbot","tab":"9386887a.8f9518","order":1,"disp":true,"width":"12","collapse":false},{"id":"afe89af8.c0fd18","type":"ui_group","z":"","name":"Bot Answers","tab":"9386887a.8f9518","order":2,"disp":true,"width":10,"collapse":false},{"id":"9386887a.8f9518","type":"ui_tab","z":"","name":"Agriculture","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
